<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="BehaviorBank">
                    <serviceMetadata />
                </behavior>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="BehaviorBank" name="Bank_Host.BankService">
                <endpoint address="http://localhost/ServiceBank/basic" binding="basicHttpBinding"
                    bindingConfiguration="" name="basic" contract="Bank_Host.IBankService" />
                <endpoint address="http://localhost/ServiceBank/ws" binding="wsHttpBinding"
                    bindingConfiguration="" name="ws" contract="Bank_Host.IBankService" />
                <endpoint address="http://localhost/ServiceBank/mex" binding="mexHttpBinding"
                    bindingConfiguration="" name="mex" contract="IMetadataExchange" />
                <endpoint address="net.tcp://localhost/ServiceBank/tcp" binding="netTcpBinding"
                    bindingConfiguration="" name="tcp" contract="Bank_Host.IBankService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>